<!-- IF S_BBCODE_ALLOWED -->
<div class="panel <!-- IF S_PRIVMSGS -->pm<!-- ELSE -->bg2<!-- ENDIF -->" id="wysiwim_preview">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3><span class="Show-Hide" onclick="wysiwim_resize('wysiwim_editor', -10);">[-]</span> <span class="Show-Hide" onclick="wysiwim_resize('wysiwim_editor', 10);">[+]</span>{L_PREVIEW}: {SUBJECT}</h3>
		<div class="postbody">
			<div id="wysiwim_editor" name="wysiwim_editor" class="content">{L_NA}</div>
			<script type="text/javascript">
			// <![CDATA[
			<!-- INCLUDE posting_wysiwym.js -->
			/**
			* Set display of page element
			* s[-1,0,1] = hide,toggle display,show
			**/
			function toggle_wysiwim(n, s)
			{
				var e = document.getElementById(n);
				if (!s)
				{
					s = (e.style.display == '' || e.style.display == 'block') ? -1 : 1;
				}
				e.style.display = (s == 1) ? 'block' : 'none';
			}
			// ]]>
			</script>
			<br />
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="clear"></div>
<!-- ENDIF -->