<div class="panel <!-- IF S_PRIVMSGS -->pm<!-- ELSE -->bg2<!-- ENDIF -->" id="wysiwim_preview">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_PREVIEW}: {SUBJECT}</h3>
		<div class="postbody" style="height: auto; font-size: 85%;">
			<div id="wysiwim_editor" class="content" style="overflow: auto; height: 200px; padding-{S_CONTENT_FLOW_END}: 2px;">{L_NA}</div>
			<script type="text/javascript">
			// <![CDATA[
			<!-- INCLUDE posting_wysiwym.js -->
			// ]]>
			</script>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="clear"></div>